@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Light.ttf");
    font-weight:300;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.ttf");
    font-weight:400;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Medium.ttf");
    font-weight:500;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-SemiBold.ttf");
    font-weight:600;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Bold.ttf");
    font-weight:700;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@keyframes caption-link-anim {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

body {
    margin: 0 auto;
    width: 1920px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    outline: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    min-height: 80px;
    padding: 50px;
    box-sizing: border-box;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-header-wrp {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.main-header-logo {
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0;
    transition: opacity 0.5s ease-out;
}

.main-header-logo:hover {
    opacity: 0.5;
}

.main-header-logo:active {
    opacity: 1;
}

.main-header-logo-icon {
    fill: #ffffff;
}

.main-header-logo-text {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #ffffff;
}

.main-header-checkbox {
    display: none;
}

.main-header-mobile_menu {
    display: none;
}

.main-header-mobile_menu-icon {
    display: none;
}

.main-header-navigate {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header-navigate-list {
    margin: 0 60px 0 0;
    padding: 0;
    list-style-type: none;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
}

.main-header-navigate-list-item {
    margin: 0 30px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}

.main-header-navigate-list-item:last-child {
    margin: 0;
}

.main-header-navigate-list-item-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    transition: opacity 0.5s ease-out;
}

.main-header-navigate-list-item-link:hover {
    opacity: 0.5;
}

.main-header-navigate-list-item-link:active {
    opacity: 1;
}

.main-header-navigate-basket {
    height: 24px;
    width: 24px;
    border: none;
    margin: 0 30px 0 0;
    padding: 0;
    background-color: transparent;
    outline: none;
    transition: opacity 0.5s ease-out;
}

.main-header-navigate-basket:hover {
    opacity: 0.5;
}

.main-header-navigate-basket:active {
    opacity: 1;
}

.main-header-navigate-basket-icon {
    fill: #ffffff;
}

.main-header-navigate-form{
    display: flex;
}

.main-header-navigate-form-label{
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("../img/search-btn.svg");
    height: 24px;
    width: 24px;
    transition: opacity 0.5s ease-out;
}

.main-header-navigate-form-label:hover{
    opacity: 0.5;
}

.main-header-navigate-form-search {
    width: 100%;
    height: 100%;
    color: #ffffff;
    opacity: 0; 
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    transition: opacity 0.5s linear;
    pointer-events: none;
    outline: none;
}

.main-header-navigate-form-search:focus {
    position: absolute;
    width: 250px;
    left: -225px;
    top: 40px;
    opacity: 1;
    border: 1px solid #ffffff;
    pointer-events: auto;
}

.carusel {
    margin: 260px 0 0 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.carusel-btn {
    display: block;
    width: 40px;
    height: 73px;
    opacity: 1;
    position: relative;
    transition: opacity 0.5s ease-out;
}

.carusel-btn:nth-of-type(1) {
    margin: 95px 475px 0 0;
}

.carusel-btn:nth-of-type(2) {
    margin: 95px 0 0 475px;
}

.carusel-btn:nth-of-type(1):after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-bottom: 2px solid #d3c1ad;;
    border-left: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 25px;
}

.carusel-btn:nth-of-type(2):after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -25px;
}

.carusel-btn:hover {
    opacity: 0.5;
}

.carusel-btn:active {
    opacity: 1;
}

.carusel-info {
    width: 590px;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.carusel-info-little-title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
}

.carusel-info-title {
    margin: 15px 0 20px 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
}

.carusel-info-text {
    margin: 0 auto 50px auto;
    width: 565px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    word-break: break-all;
}

.carusel-info-button {
    margin: 0 auto;
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 5px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    transition: opacity 0.5s ease-out;
    outline: none;
}

.carusel-info-button:hover {
    opacity: 0.8;
}

.carusel-info-button:active {
    opacity: 1;
}

.carusel-pagination {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin: 301px 0 0 0;
}

.carusel-pagination-item {
    display: block;
    width: 11px;
    height: 11px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
    border: 2px solid transparent;
}

.carusel-pagination-item:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
    transform: scale(1.2)
}

.directions {
    width: 100%;
    margin: 0 auto;
    padding: 80px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.directions-item {
    width: 265px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin: 0 10px 0 0;
}

.directions-item:hover .directions-item-icon {
    fill: #c7b299;
}

.directions-item:hover .directions-item-title {
    color: #c7b299;
}

.directions-item:hover:after {
    background-color: #c7b299;
}

.directions-item:active .directions-item-icon {
    fill: brown;
}

.directions-item:active .directions-item-title {
    color: brown;
}

.directions-item:active:after {
    background-color: brown;
}

.directions-item:last-child {
    margin: 0px;
}

.directions-item:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #f1eee9;
    transition: background-color 0.5s ease-out;
}

.directions-item-icon {
    transition: fill 0.5s ease-out;
    fill: #555555;
}

.directions-item-title {
    display: block;
    width: 100%;
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 30px 0 19px 0;
    transition: color 0.5s ease-out;
}

.directions-item-text {
    margin: 0 0 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

.ideas {
    width: 100%;
    padding: 80px 80px 0 80px;
    background-color: #fbfaf8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.ideas-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
}

.ideas-text {
    display: block;
    margin: 24px auto 40px auto;
    text-align: center;
    width: 760px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.ideas-examples {
    width: 1230px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.ideas-examples-photo {
    margin: 0;
    transition: z-index 0.5s ease-out;
}

.ideas-examples-photo:first-child {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.ideas-examples-photo:nth-child(2) {
    position: relative;
    margin: 0 auto;
    z-index: 2;
}

.ideas-examples-photo:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.ideas-examples-photo:hover {
    z-index: 3;
}

.purchase {
    width: 100%;
    padding: 50px 375px;
    box-sizing: border-box;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;
}

.purchase-wrp {
    margin: 0;
    width: 530px;
}

.purchase-title{
    margin: 0 0 8px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
}

.purchase-title-brand{
    color: #c7b299;
}

.purchase-subtitle{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #615855;
}

.purchase-button {
    margin: 0;
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 5px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    transition: opacity 0.5s ease-out;
    outline: none;
}

.purchase-button:hover {
    opacity: 0.8;
}

.purchase-button:active {
    opacity: 1;
}

.latest{
    width: 100%;
    box-sizing: border-box;
    padding: 80px 375px 80px 375px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.latest-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
}

.latest-info {
    display: block;
    margin: 24px auto 40px auto;
    text-align: center;
    width: 760px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.latest-navbtns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 0 40px 0;
    box-sizing: border-box;
}

.latest-navbtns-btn {
    margin: 0 10px 0 0;
    padding: 5px 25px;
    height: 32px;
    text-transform: capitalize;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    transition: opacity 0.5s ease-out,
                color 0.5s ease-out,
                border-color 0.5s ease-out,
                background-color 0.5s ease-out;
}

.latest-navbtns-btn:last-child {
    margin: 0;
}

.latest-navbtns-btn-active {
    background-color: #998675;
    border-color: #998675;
    color: #ffffff;
}

.latest-navbtns-btn:hover {
    background-color: #998675;
    border-color: #998675;
    color: #ffffff;
    opacity: 0.8;
}

.latest-navbtns-btn:active {
    opacity: 1;
}

.latest-examples {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 40px auto;
}

.latest-examples-item {
    display: block;
    width: 370px;
    position: relative;
    margin: 0 0 30px 0;
    box-sizing: border-box;
}

.latest-examples-item:nth-child(n+4) {
    margin: 0;
}

.latest-examples-item-photo {
    display: block;
    width: 100%;
    height: 237px;
}

.latest-examples-item-wrapper {
    width: 100%;
    padding: 25px 30px;
    box-sizing: border-box;
    position: relative;
    background-color: #fbfaf8;
}

.latest-examples-item-wrapper:before {
    content: "";
    border: 20px solid transparent;	
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -30px;
    left: 19px;
}

.latest-examples-item-title {
    margin: 0 0 7px 0;
    display: block;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #c7b299;
}

.latest-examples-item-subtitle {
    margin: 0;
    display: block;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
}

.latest-examples-item:hover .latest-examples-item-photo {
    filter: brightness(60%);
}

.latest-examples-item:hover .latest-examples-item-link{
    display: block;
}

.latest-examples-item:hover .latest-examples-item-search{
    display: block;
}

.latest-examples-item:hover .latest-examples-item-link:hover{
    opacity: 0.7;
}

.latest-examples-item:hover .latest-examples-item-search:hover{
    opacity: 0.7;
}

.latest-examples-item:hover .latest-examples-item-wrapper {
    background-color: #362f2d;
}

.latest-examples-item:hover .latest-examples-item-wrapper:before {
    border-bottom: 10px solid #362f2d;
}

.latest-examples-item-link,
.latest-examples-item-search {
    width: 26px;
    height: 26px;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 33%;
}

.latest-examples-item-link {
    left: 35%;
    background-image: url("../img/link-ex.svg");
}

.latest-examples-item-search {
    right: 35%;
    background-image: url("../img/search-ex.svg");
}

.latest-btn {
    margin: 0;
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 5px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    transition: opacity 0.5s ease-out;
    outline: none;
}

.latest-btn:hover {
    opacity: 0.8;
}

.latest-btn:active {
    opacity: 1;
}

.presentation {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 705px;
    position: relative;
    overflow: hidden;
}

.presentation-video {
    width: 100%;
    height: 100%;
}

.presentaion-wrapper {
    width: 550px;
    position: absolute;
}

.presentation-btn {
    border: none;
    background-color: transparent;
    position: relative;
    margin: 0 auto 45px auto;
    outline: none;
    display: block;
    transition: transform 0.5s ease-out;
}

.presentation-btn-img {
    fill: #ffffff;
    position: relative;
    z-index: 2;
    transition: fill 0.5s ease-out;
}

.presentation-btn:after {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
    position: absolute;
    left: -5px;
    top: -9px;
    width: 100px;
    height: 100px;
    content: '';
    z-index: 1;
}

.presentation-btn:hover .presentation-btn-img{
    fill: #c7b299;
}

.presentation-btn:active .presentation-btn-img{
    fill: #ffffff;
}

.presentation-title {
    display: block;
    text-align: center;
    margin: 0 auto 30px auto;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
}

.presentation-text {
    display: block;
    text-align: center;
    margin: 0 auto 40px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
}

.presentation-time {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
}

.mobile{
    margin: 0;
    width: 100%;
    padding: 80px 375px 0 420px;
    box-sizing: border-box;
    display: flex;
    color: #8c8c8c;
}

.mobile-image{
    margin: 0 30px 0 0;
    width: 100%;
    height: 616px;
}

.mobile-content {
    padding: 110px 0 0 0;
}

.mobile-content-title{
    display: block;
    margin: 0;
    font-family: 'Raleway',sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
}

.mobile-content-info{
    display: block;
    margin: 40px 0 45px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    text-align: justify;
}

.mobile-content-image {
    display: none;
}

.mobile-content-list{
    list-style-type: none;
	margin: 0 0 0 80px;
}

.mobile-content-list-item{
    position: relative;
    padding: 0;
    margin: 0 0 12px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
}

.mobile-content-list-item:before{
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -51px;
    
    background-image: url("../img/circle_arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 21px;
    width: 21px;
}

.statistics {
    width: 100%;
    margin: 0 auto;
    padding: 70px 70px 60px 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.statistics-item {
    width: 184px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin: 0;
    transition: transform 0.5s ease-out;
}

.statistics-item:hover {
    transform: scale(1.2);
}

.statistics-item:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
}

.statistics-item-icon {
    fill: #c7b299;
}

.statistics-item-title {
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 200;
    color: #ffffff;
    margin: 30px 0 20px 0;    
}

.statistics-item-text {
    display: block;
    margin: 0 0 30px 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;  
}

.posts {
    margin: 0;
    width: 100%;
    padding: 80px 375px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #555555;
}

.posts-info {
    margin: 30px 0 40px 0;
    width: 760px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.posts-wrp {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts-item {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    position: relative;
    margin: 0 0 40px 0;
    border: 1px solid #f8f8f8;
    box-sizing: border-box;
}

.posts-item:hover .posts-item-date-day {
    background-color: #c7b299;
}

.posts-item:hover .posts-item-date-month {
    background-color: #a48d72;
}

.posts-item:hover .posts-item-caption{
    background-color: #362f2d;
}

.posts-item:hover .posts-item-caption-title{
    color: #c7b299;
}

.posts-item:hover .posts-item-caption-text{
    color: #ffffff;
}

.posts-item-img {
    margin: 0;
    width: 100%;
    height: 220px;
}

.posts-item-date{
    width: 50px;
    position: absolute;
    text-align: center;
    top: 30px;
    left: 30px;
}

.posts-item-date-day{
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    background-color: #363636;
    border-radius: 3px 3px 0 0;
    display: block;
    transition: background-color 0.5s ease-out 0.1s;
}

.posts-item-date-month{
    width: 100%;
    margin: 0;
    padding: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
    background-color: #252525;
    border-radius: 0 0 3px 3px;
    display: block;
    transition: background-color 0.5s ease-out 0.1s;
}

.posts-item-caption {
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    transition: background-color 0.5s ease-out 0.1s;
}

.posts-item-caption-title {
    margin: 0;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    text-align: left;
    transition: color 0.5s ease-out 0.1s;
}

.posts-item-caption-text {
    display: block;
    margin: 20px 0 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
    transition: color 0.5s ease-out 0.1s;
}

.posts-item-caption-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #c7b299;
    text-decoration: none;
    text-transform: capitalize;
}

.posts-item-caption-link:after{
    margin: 0 0 0 10px;
    content: '';
    display: inline-block;
    width: 5px;
    height: 8px;
    background-image: url("../img/arrow.svg");
    background-size: cover;
}

.posts-item-caption-link:hover {
    animation: caption-link-anim 2s infinite;
    animation-delay: 0.5s;
    animation-direction: alternate-reverse;
}

.posts-item-carusel {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    position: absolute;
    top: 190px;
}

.posts-item-carusel-item {
    display: block;
    width: 11px;
    height: 11px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
    border: 2px solid transparent;
}

.posts-item-carusel-item:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
    transform: scale(1.2)
}

.posts-arrows {
    display: flex;
    justify-content: space-between;
    width: 50px;
}

.posts-arrows-btn {
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    transition: border-color 0.5s ease-out,
                transform 0.5s ease-out;
}

.posts-arrows-btn:after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    position: absolute;
    transition: border-color 0.5s ease-out;
}

.posts-arrows-btn:nth-child(1):after {
    border-bottom: 2px solid #d8d8d8;
    border-left: 2px solid #d8d8d8;
    top: 4px;
    left: 6px;
}

.posts-arrows-btn:nth-child(2):after {
    border-top: 2px solid #d8d8d8;
    border-right: 2px solid #d8d8d8;
    top: 4px;
    right: 6px;
}

.posts-arrows-btn:hover{
    transform: scale(1.2);
    border-color: #d3c3af;
}

.posts-arrows-btn:hover:after{
    border-color: #d3c3af;
}

.partners{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/bg_partners.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px 405px;
    box-sizing: border-box;
}

.partners-link {
    transition: transform 0.5s ease-out;
}

.partners-link:hover {
    transform: scale(1.2);
}

.partners-link:active{
    transform: scale(1.5);
}

.partners-link-img-little {
    display: none;
}

.main-footer {
    width: 100%;
    margin: 0;
}

.main-footer-review {
    background-color: #191919;
    margin: 0;
    padding: 80px 375px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-footer-review-brand,
.main-footer-review-shortposts,
.main-footer-review-twitter,
.main-footer-review-widget {
    width: 270px;
    margin: 0;
}

.main-footer-review-brand {
    display: flex;
    flex-wrap: wrap;
}

.main-footer-review-brand-text {
    width: 100%;
    margin: 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
}

.main-footer-review-brand-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #d1d1d1;
    text-decoration: none;
    text-transform: capitalize;
}

.main-footer-review-brand-link:after{
    margin: 0 0 0 10px;
    content: '';
    display: inline-block;
    width: 5px;
    height: 8px;
    background-image: url("../img/arrow.svg");
    background-size: cover;
}

.main-footer-review-brand-link:hover {
    animation: caption-link-anim 2s infinite;
    animation-delay: 0.5s;
    animation-direction: alternate-reverse;
}

.main-footer-review-shortposts-title,
.main-footer-review-twitter-title,
.main-footer-review-widget-title {
    width: 100%;
    display: block;
    text-transform: capitalize;
    margin: 20px 0 30px 0;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.main-footer-review-shortposts-item,
.main-footer-review-twitter-item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
    border-bottom: 2px solid #252525;
    padding: 0 0 20px 0;
    box-sizing: border-box;
}

.main-footer-review-shortposts-item:last-child,
.main-footer-review-twitter-item:last-child {
    margin: 0;
}

.main-footer-review-shortposts-item-date,
.main-footer-review-twitter-item-date {
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #444444;
    display: block;
    transition: color 0.5s ease-out 0.1s;
}

.main-footer-review-shortposts-item-date {
    margin: 0 0 10px 0;
}

.main-footer-review-twitter-item-date {
    margin: 10px 0 0 0;
}

.main-footer-review-shortposts-item-text,
.main-footer-review-twitter-item-text{
    width: 100%;
    word-break: break-all;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    transition: color 0.5s ease-out 0.1s;
}

.main-footer-review-shortposts-item:hover .main-footer-review-shortposts-item-date {
    color: #ffffff;
}

.main-footer-review-shortposts-item:hover .main-footer-review-shortposts-item-text {
    color: #c7b299;
}

.main-footer-review-twitter-item:hover .main-footer-review-twitter-item-date {
    color: #ffffff;
}

.main-footer-review-twitter-item:hover .main-footer-review-twitter-item-text {
    color: #c7b299;
}

.main-footer-review-twitter-item-link {
    text-decoration: none;
    color: #02aedd;
    transition: color 0.5s ease-out;
}

.main-footer-review-twitter-item-link:hover {
    color: #6a6a6a;
}

.main-footer-review-twitter-item-link:active {
    color: #02aedd;
}

.main-footer-review-widget-wrp {
    width: 100%;
    margin:0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

.main-footer-review-widget-img {
    width: 130px;
    height: 98px;
    margin: 0 0 10px 0;
    transition: transform 0.5s ease-out 0.1s;
}

.main-footer-review-widget-img:nth-last-child(-n+2) {
    margin: 0;
}

.main-footer-review-widget-img:hover {
    transform: scale(1.3);
}

.main-footer-links {
    width: 100%;
    margin: 0;
    padding: 40px 375px;
    display: flex;
    justify-content: space-between;
    background-color: #111111;
    box-sizing: border-box;
}

.main-footer-links-useful {
    display: flex;
}

.main-footer-links-useful-text {
    margin: 0 10px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}

.main-footer-links-useful-text-link {
    text-decoration: none;
    color: #959595;
    transition: color 0.5s ease-out;
}

.main-footer-links-useful-text-link:hover {
    color: #c7b299;
}

.main-footer-links-useful-text-link:active {
    color: #959595;
}

.main-footer-links-useful-link {
    margin: 0 10px 0 0;
    padding: 0 0 0 10px;
    border-left: 1px solid #555555;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    transition: color 0.5s ease-out;
    box-sizing: border-box;
}

.main-footer-links-useful-link:last-child {
    margin: 0;
}

.main-footer-links-useful-link:hover {
    color: #c7b299;
}

.main-footer-links-useful-link:active {
    color: #555555;
}

.main-footer-links-owner {
    display: flex;
}

.main-footer-links-owner-text {
    margin: 0 10px 0 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    box-sizing: border-box;
}

.main-footer-links-owner-text:last-child {
    padding: 0 0 0 10px;
    margin: 0;
    border-left: 1px solid #555555;
}

.main-footer-links-owner-text-link {
    text-decoration: none;
    color: #959595;
    transition: color 0.5s ease-out;
}

.main-footer-links-owner-text-link:hover {
    color: #c7b299;
}

.main-footer-links-owner-text-link:active {
    color: #959595;
}


@media (max-width: 480px) {
    body {
        width: 480px;
    }
    
    .main-header {
        background-size: auto;
        background-position: center top;
    }
    
    .main-header-wrp {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .main-header-mobile_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .main-header-mobile_menu-icon {
        display: block;
        vertical-align: middle;
        position: relative;
        background: #ffffff;
        width: 90%;
        height: 4px;
        transition: 0.4s;
    }

    .main-header-mobile_menu-icon:before,
    .main-header-mobile_menu-icon:after {
        content: "";
        display: block;
        position: absolute;
        background: #ffffff;
        width: 100%;
        height: 4px;
        transition: 0.4s;
    }

    .main-header-mobile_menu-icon:before {
        top: -8px;
    }

    .main-header-mobile_menu-icon:after {
        top: 8px;
    }
    
    .main-header-mobile_menu:hover .main-header-mobile_menu-icon {
        opacity: 0.5;
    }
    
    .main-header-mobile_menu:hover .main-header-mobile_menu-icon:before:after {
        opacity: 0.5;
    }
    
    .main-header-checkbox:checked ~ .main-header-mobile_menu .main-header-mobile_menu-icon {
        background: transparent;
    }
    
    .main-header-checkbox:checked ~ .main-header-mobile_menu .main-header-mobile_menu-icon:before {
        top: 0;
        transform: rotate(45deg);
    }
    
    .main-header-checkbox:checked ~ .main-header-mobile_menu .main-header-mobile_menu-icon:after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    .main-header-navigate {
        width: 100%;
        height: 0px;
        visibility: hidden;
    }
    
    .main-header-navigate-list {
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }
    
    .main-header-navigate-list > .main-header-navigate-list-item {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    
    .main-header-navigate-basket {
        display: none;
    }
    
    .main-header-navigate-form {
        display: none;
    }
    
    .main-header-checkbox:checked ~ .main-header-navigate {
        visibility: visible;
        height: auto;
    }
    
    .carusel {
        display: none;
    }
    
    .directions {
        padding: 20px 0 30px 0;
        justify-content: space-between;
    }
    
    .directions-item {
        width: 45%;
        margin: 0;
    }
    
    .directions-item:nth-child(n+3) {
        margin-top: 20px;
    }
    
    .directions-item-title {
        font-size: 20px;
        margin: 20px 0 10px 0;
    }
    
    .directions-item-text {
        font-size: 14px;
        line-height: 22px
        margin: 0 0 20px 0;
    }
    
    .ideas {
        display: none;
    }
    
    .purchase {
        display: none;
    }
    
    .latest {
        padding: 20px 0 30px 0;
        background-color: #f0ede9;
    }
    
    .latest-info {
        font-size: 14px;
        line-height: 24px;
        margin: 20px 5px 0 5px; 
    }
    
    .latest-navbtns {
        padding: 0 10px;
        margin: 0 0 30px 0;
    }
    
    .latest-navbtns-btn {
        border-color: #998675;
        margin: 10px 10px 0 0;
    }
    
    .latest-navbtns-btn:nth-child(3) {
        margin-right: 0;
    }
    
    .latest-navbtns-btn:last-child {
        margin: 10px 0 0 0;
    }
    
    .latest-examples {
        justify-content: center;
        margin: 0 auto;
    }
    
    .latest-examples-item:nth-child(2) {
        margin: 0;
    }
    
    .latest-examples-item:nth-child(n+3) {
        display: none;
    }
    
    .latest-btn {
        display: none;
    }
    
    .presentation {
        display: none;
    }
    
    .mobile {
        padding: 20px 10px 0 10px;
    }
    
    .mobile-image {
        display: none;
    }
    
    .mobile-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0px;
        width: 100%;
    }
    
    .mobile-content-title {
        text-align: center; 
    }
    
    .mobile-content-info {
        text-align: center;
        margin: 20px 0;
    }
    
    .mobile-content-image {
        display: block;
    }
    
    .mobile-content-list {
        width: 45%;
        margin: 0;
    }
    
    .mobile-content-list-item {
        font-size: 14px;
        line-height: 18px;
    }
    
    .mobile-content-list-item:before {
        left: -30px;
    }
    
    .statistics {
        display: none;
    }
    
    .posts {
        background-color: #f0ede9;
        padding: 20px 10px 30px 10px;
    }
    
    .posts-info {
        width: 100%;
        margin: 15px 0 20px 0;
    }
    
    .posts-wrp {
        justify-content: center;
    }
    
    .posts-item-caption {
        background-color: #ffffff;
    }
    
    .posts-item {
        margin: 0 0 20px 0;
    }
    
    .posts-item:last-child {
        margin: o;
    }
    
    .posts-arrows {
        display: none;
    }
    
    .partners {
        padding: 20px;
    }
    
    .partners-link:active {
        transform: scale(0.9);
    }
    
    .partners-link-img {
        display: none;
    }
    
    .partners-link-img-little {
        display: block;
    }
    
    .main-footer-review {
        display: none;
    }
    
    .main-footer-links {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .main-footer-links-owner {
        width: 100%;
        margin-top: 15px;
        justify-content: space-around;
    }
    
    .main-footer-links-owner-text{
        margin 0;
        padding: 0;
    }
    
    .main-footer-links-owner-text:last-child {
        margin 0;
        padding: 0;
        border: none;
    }
}
